.load {

  margin: .4em 0;
  margin-left: 3em;
}
.load-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: .6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: .4em;
    font-size: 1em;
    font-weight: bold
  }

  .load-field {
    padding: .6em;
    margin-right: 2em; 
    text-align: center;
    display: inline-block;
    border-radius: .4em;
    font-size: 1em;
    font-weight: bold
  }