.grn {
  background-color: green;
}

.list-group {
  width: 75%;
  margin: auto;
  border: .3em darkblue outset;
  border-radius: .6em;
}


.list-group-item {
  color: black;
  font-weight: 500;
  background-color: inherit;
  margin: .35em 0;
  border-top: .1em black dashed;
}

.PC {
  background-color: green;
}

.list-group > .active {
  /* color: yellow; */
  color: blue;
  background-color: orange;
  font-weight: bolder;
}

.enemy {
  background-color: rosybrown;
  /* font-weight:bolder; */
}

.unconscious {
  background-color: darkslategray;
}


.NPC {
  background-color: gray;
}

.empty {
  background-color: lightgray;
}

.name {
  float: left;
  padding-left: 3em;
}

.tracker {
  background-color: yellow;
}

.active > .name::before {
  padding-right: 1em;
  content: "★ ";
  /* background-color: inherit */
}

.add-char {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: .6em;
  padding: .6em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: .4em;
  font-size: 1em;
  font-weight: bold
}

