.grn {
  background-color: green;
}

.list-group {
  width: 75%;
  margin: .5em auto;
  padding: .5em 0 1em 0;
  border: .3em darkblue outset;
  border-radius: .6em;
  padding-right: 6em;
}


.list-group-item {
  color: black;
  font-weight: 500;
  background-color: inherit;
  margin: .5em .5em;
  border-top: .2em black solid;
  border-left: .3em black solid;
  border-bottom: .05em black solid;
  border-radius: .4em;
}


.PC {
  background-color: green;
}

.list-group > .active {
  /* color: yellow; */
  color: blue;
  background-color: orange;
  font-weight: bolder;
}



.name {
  float: left;
  padding-left: 3em;
  /* background-blend-mode: lighten; */
  /* background-color: red; */
  
}

.tracker {
 float: right;
}

.tracker::after {
  content: " aaa";
  position: fixed;
  transform: translate(3em,-.5em);
  background-color: white;
  padding: .5em;
  border-radius: .8em;
}

.active > .name::before {
  padding-right: 1em;
  content: "★ ";
  /* background-color: inherit */
}

.add-char {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: .6em;
  padding: .6em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: .4em;
  font-size: 1em;
  font-weight: bold
}





.enemy {
  background-color: rosybrown;
  /* font-weight:bolder; */
}

.unconscious {
  background-color: darkslategray;
}


.NPC {
  background-color: gray;
}

.empty {
  background-color: lightgray;
}