body {
    font-size: 1rem;
    font-weight: bold;
    color: blue;
    width: 98%;
    /* margin: auto; */
    background-color: #5074ad;
    margin: auto;
    /* border-radius: .4em; */
    /* min-height: 5em; */
}

h1, h2, h3, h4, h5 {
    padding: .5em 1em .5em 1em;
    margin: .5em;
    background-color: white;
    border: .1em darkblue outset;
    border-radius: .4em;
}

p {
    margin: 1em;
    padding: 1em;
    background-color: peachpuff;
    border-radius: .4em;
}
.name {
    display: flex;
    background-color: lightblue;
    padding: 1em;
    margin: 1em;
    border-radius: .4em;

}